{#
/**
 * @file
 * Default theme implementation to generate the front page.
 *
 * Available variables:
 *   - page_title
 *   - subtitle
 *   - show_button
 *   - button_text
 *   - button_url
 *   - banner_image (coming soon)
 *
 * @see template_preprocess_landing_page()
 *
 * @ingroup themeable
 */
#}
<div class="banner">
    <h1>{{ page_title }}</h1>
    <p>{{ subtitle }}</p>

    {% if show_button == true %}
        <a class="btn btn-primary" href="{{ button_url }}">{{ button_text }}</a>
    {% endif %}
</div>
