<div class="row">
    <div class="col-12">
        <img id="banner-img" class="w-100 img-fluid rounded-3 mb-4" src="{{ file_url(node.field_image.entity.uri.value) }}" alt="{{ node.field_image.alt }}">
    </div>
    <div class="col-12 col-md-10 mx-auto mb-5">
        {{ content.body|raw }}
    </div>
</div>
