<div class="row">
    <div class="col-12">
        <img class="img-fluid rounded-3" src="{{ info_page.field_image.entity.uri.value }}" alt="{{ info_page.field_image.alt }}">
    </div>
    <div class="col-12 col-md-10">
        {{ info_page.body.value|raw }}
    </div>
</div>
