.victory__list-image-wrapper {
    background-color: #AAAAAA;
    aspect-ratio: 7/5;
    display: flex;
    align-items: center;border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
}

.victory__list-image  {
    max-width: 100%;
    aspect-ratio: 7/5;
    object-fit: cover;
}
