{#
/**
* @file
* Presents a list of frequently asked questions.
*
* Available Variables:
*   - faq_nodes: array of faq nodes with title (the question),
*     body, and an array of categories.
*/
#}

{% for faq in faq_nodes %}
<div class="question">
    <h3>{{ faq.title.value }}</h3>
    <p>{{ faq.body.value|raw }}</p>

    <div class="d-flex flex-row align-items-center">
        <p class="mb-0 me-1">Categories: </p>
        {% for category in faq.field_faq_categories %}
        <a class="btn btn-sm btn-primary me-1" href="?category={{ category.entity.name.value }}">{{ category.entity.name.value }}</a>
        {% endfor %}
    </div>

    <hr class="my-4">
</div>
{% endfor %}
