{#
/**
* @file
* Presents a list of frequently asked questions.
*
* Available Variables:
*   - title: page title
*   - faq_nodes: array of faq nodes.
*/
#}

<p>Test output for reference</p>

{% for faq in faq_nodes %}
<div class="question">
    <h3>{{ faq.title.value }}</h3>
    <p>{{ faq.body.value }}</p>

    <!-- need to print faq categories for clickies -->
</div>
{% endfor %}
